* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    background-size: 400% 400%;
    animation: gradient-carousel 10s ease infinite; /* Animación para el fondo */
}

/* Animación del carrusel de colores */
@keyframes gradient-carousel {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 30px;
}

canvas {
    border: 1px solid #000;
    margin: 20px auto;
    display: block;
    max-width: 90%; /* Asegura que el canvas no se salga del contenedor */
    height: auto; /* Mantiene proporción del canvas */
}

#word-container span {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#reiniciar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}